body{
    background-color:#183153;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calculator{
    background-color: #183153;
    border-radius: 20px;
    border: 0.9px solid;
    border-color: aliceblue;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 40px;
    text-align: left;
    border: none;
    background-color: #5f7aa183;
    color: aliceblue;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: pink;
    color: #183153;
    font-size: 30px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(243, 194, 202);
    box-shadow: 1px 1px 5px 4px rgb(212, 133, 147);
}
button:active{
    background-color: rgb(244, 199, 206); ;
}